/*------------------------------ ABOUT ------------------------------*/

.about {
  padding-top: 75px;
  padding-bottom: 90px;
}

.about__items {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
    margin: 0 20px;
    width: 45%;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    .about__item-img{
        img {
            width: 30px;
            height: 30px;
        }
    }

    .about__item-text{
        padding-left: 20px;
        font-size: 18px;
        font-weight: 400;
    }
}
