.price {
    .row {
        max-width: 1160px;
    }
    padding: 75px 0 120px;
    position: relative;
    &::before {
        content: "";
        background: url('/images/dest/5price/price-background.png') no-repeat;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    .section__title {
        margin-bottom: 50px;
    }
}

.price__item {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 65px 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 25px 0px rgb(60 97 88 / 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price__item-text{
    // margin-right: 20px;
    width: 70%;
    font-size: 24px;
    line-height: 1.65;
    font-weight: 400;        
}
.food-and-road {
    opacity: .6;
    font-size: 21px;
}

.price__item-btn {
    width: 25%;
    padding: 20px 40px;
    // margin-left: 20px;
    white-space: nowrap;
    background-color: #87dcc6;
    font-weight: 600;
    border-radius: 6px;
    line-height: 1.55;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-and-road-small {
    display: none;
    margin-top: 25px;
}

.cars {
    display: flex;
    div {
        cursor: pointer;
    }
}